#main {
  margin: 100px 0px 100px 0px;
}

#main .hesabim {
  width: 100%;
}

#main .hesabim .ust-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main .hesabim .ust-div .hesab-div {
  background-color: #f8f8f8;
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0px 0px 80px;
  border-radius: 50px;
}

#main .hesabim .ust-div .hesab-div span {
  font-size: 20px;
  font-weight: bold;
  color: #585858;
}

#main .hesabim .ust-div .circle-div {
  z-index: 1;
  position: absolute;
  background-color: #f58322;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

#main .hesabim .ust-div .circle-div i {
  position: absolute;
  top: 38px;
  left: 38px;
  font-size: 25px;
  color: #6d3838;
}

#main .row .item {
  margin: 0px 10px 0px 10px;
  padding: 20px 0px 20px 10px;
  cursor: pointer;
}

#main .row .item span {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 14px;
}
