.container-fluid {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  border: 1px solid red;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.flex-between, .row, #categories .book-items .book-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column-between, #puzzle .puzzle-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column-center, #footer .foot-up, #categories .book-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-center, #categories .book-items .book-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decor-color, #footer .foot-up .f-gmail a, #footer .foot-up .f-contact a {
  text-decoration: none;
  color: red;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

#footer .foot-up {
  background-color: rosybrown;
  height: 250px;
}

#footer .foot-up .f-name img {
  width: 400px;
}

#footer .foot-up .f-gmail {
  margin: 10px;
}

#footer .foot-up .f-gmail i {
  font-size: 20px;
}

#footer .foot-up .f-gmail a {
  font-size: 20px;
}

#footer .foot-up .f-contact i {
  font-size: 20px;
}

#footer .foot-up .f-contact a {
  font-size: 20px;
}

#footer .foot-down {
  height: 70px;
  background-color: #005293;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0 0 7px;
}

#footer .foot-down p {
  color: white;
}

#header .logo {
  height: 80px;
}

#header .logo img {
  width: 200px;
}

#header .menu {
  width: 120px;
  border-radius: 4px;
  height: 60px;
  background-color: blanchedalmond;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
}

#header .menu a {
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  color: black;
}

#header .search-text {
  width: 500px;
  height: 40px;
  margin-top: 10px;
  margin-left: 50px;
  border: 2px solid #706767;
}

#header .search-btn {
  color: black;
}

#header .registration {
  position: relative;
  width: 100px;
  border-radius: 4px;
  height: 50px;
  background-color: blanchedalmond;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid red;
}

#header .registration a {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px 15px 15px;
  border: 1px solid blue;
  text-decoration: none;
  color: black;
}

#head-cat .cat-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#head-cat .cat-items li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#head-cat .cat-items li::after {
  content: "";
  width: 1px;
  background-color: #c01616;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#head-cat .cat-items a {
  text-decoration: none;
}

#categories {
  padding: 30px 0 30px 0;
}

#categories .section-head {
  height: 55px;
  border: 1px solid blue;
  margin-bottom: 50px;
  text-align: center;
}

#categories .section-head h2::before {
  content: '';
  width: 30px;
  height: 10px;
  background: url(/img/titleico.png);
}

#categories .book-items {
  height: 440px;
}

#categories .book-items .book-img img {
  width: 200px;
}

#categories .book-items .book-star {
  color: chocolate;
}

#categories .book-items .book-name {
  margin-top: 10px;
}

#categories .book-items .book-name a {
  text-decoration: none;
  color: black;
}

#categories .book-items .book-press {
  margin-top: 70px;
  font-size: 10px;
}

#categories .book-items .book-press a {
  text-decoration: none;
  color: #423b3b;
}

#categories .book-items .book-author {
  font-size: 10px;
  margin: 5px;
}

#categories .book-items .book-author a {
  text-decoration: none;
  color: #423b3b;
}

#categories .book-items .book-discount {
  width: 70%;
  margin-top: 15px;
}

#categories .book-items .book-discount p {
  margin: 0;
}

#categories .book-items .book-price {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  background-color: red;
  border-radius: 4px;
  text-align: center;
}

#categories .book-items .book-price a {
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#endirim .end-item {
  border: 1px solid red;
  height: 250px;
  margin: 10px;
}

#endirim .end-item a {
  text-decoration: none;
  height: 250px;
}

#endirim .end-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 380px;
}

#puzzle {
  margin: 40px;
}

#puzzle .puzzle-left {
  height: 600px;
  border: 1px solid red;
  margin: 10px;
}

#puzzle .puzzle-left .left-up {
  position: relative;
  width: 100%;
  height: 82%;
  background: brown;
}

#puzzle .puzzle-left .left-up .left-images li {
  z-index: 2;
  position: absolute;
  display: none;
  list-style: none;
}

#puzzle .puzzle-left .left-up .left-buttons {
  z-index: 3;
  min-height: auto;
  position: absolute;
  height: 20px;
  text-align: center;
  bottom: 10px;
  left: 0px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#puzzle .puzzle-left .left-up .left-buttons li {
  bottom: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-indent: -999em;
  background: #d8d8d8;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #979797;
}

#puzzle .puzzle-left .left-down {
  width: 100%;
  height: 15%;
  border: 1px solid blue;
}

#puzzle .puzzle-right {
  height: 600px;
  border: 1px solid blue;
  margin: 10px;
}

#comment .yorumlar .ust-yorum .ust {
  font-size: 28px;
  font-weight: bold;
}

#comment .yorumlar .ust-yorum .alt {
  font-size: 17px;
  font-weight: lighter;
  display: inline-block;
}

#comment .yorumlar .ust-yorum a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#cover .book-cover {
  height: 600px;
  border: 1px solid blue;
  margin: 5px;
  position: relative;
}

#cover .book-cover a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#cover .book-info {
  height: 600px;
  border: 1px solid blue;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cover .book-info .author span {
  font-size: 33px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

#cover .book-info .author a {
  text-decoration: none;
  color: #09092c;
  font-size: 30px;
}

#cover .book-info .author .star i {
  color: brown;
  font-size: 20px;
}

#cover .book-info .bilgiler {
  width: 85%;
  margin: 0 auto;
}

#cover .book-info .bilgiler .b-up p {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
}

#cover .book-info .bilgiler .b-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cover .book-info .bilgiler .b-down .stat {
  width: 45%;
  height: 130px;
  border: 1px solid blue;
}

#cover .book-price {
  height: 600px;
  border: 1px solid blue;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cover .book-price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  border: 1px solid blue;
}

#cover .book-price .price .qiymet .ust {
  font-size: 20px;
  padding-left: 15px;
}

#cover .book-price .price .qiymet .alt {
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-left: 5px;
}

#cover .book-price .price .endirim {
  background-color: green;
  width: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cover .book-price .price .endirim p {
  color: white;
}

#cover .book-price .price .sepet .qiymet {
  font-size: 20px;
}

#cover .book-price .price .sepet .kazanc {
  padding: 15px;
}

#cover .book-price .price .sepet p {
  display: inline-block;
}

#cover .book-price .price .sepet a {
  text-decoration: none;
  font-size: 15px;
  margin: 5px;
  padding: 20px;
  color: white;
  background-color: #b95e5e;
}

#cover .author-info {
  height: 200px;
  border: 1px solid blue;
  position: relative;
  text-align: center;
  background-color: brown;
}

#cover .author-info p {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#cover .author-info .shekil {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 1px solid blue;
  position: absolute;
  top: -20%;
  left: -7%;
  background-color: white;
}

#cover .author-info .haqqinda {
  margin: 0 auto 10px auto;
  height: 75%;
  width: 97%;
  background-color: white;
}

#cover .author-info .haqqinda a {
  text-decoration: none;
  color: black;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#cover .author-info .haqqinda p {
  color: black;
  padding: 50px 0 50px 0;
}

#info {
  margin-top: 20px;
}

#info .ozel-odeme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#info .ozel-odeme .sol {
  text-align: center;
}

#info .ozel-odeme .sol span {
  padding: 3px 230px 3px 200px;
  cursor: pointer;
  background-color: blue;
  color: white;
}

#info .ozel-odeme .sag {
  text-align: center;
}

#info .ozel-odeme .sag span {
  padding: 3px 223px 3px 200px;
  cursor: pointer;
  background-color: red;
  color: white;
}

#info .icerik .a {
  font-size: 25px;
  font-weight: bold;
}

#info .icerik .b {
  font-size: 20px;
}

#main {
  margin: 100px 0px 100px 0px;
}

#main .hesabim {
  width: 100%;
}

#main .hesabim .ust-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main .hesabim .ust-div .hesab-div {
  position: absolute;
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0px 0px 80px;
  border-radius: 50px;
}

#main .hesabim .ust-div .hesab-div span {
  font-size: 20px;
  font-weight: bold;
}

#main .hesabim .ust-div .circle-div {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid brown;
  border-radius: 50px;
}

#main .hesabim .ust-div .circle-div i {
  position: absolute;
  top: 38px;
  left: 38px;
  font-size: 25px;
  color: brown;
}

#main .row .item {
  margin: 0px 10px 0px 10px;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}
