$main-font: 'Roboto', sans-serif;
$pc-width: 10%;
$pc-height: 10%;
$width: 100px;
$height: 100px;
$margin: 10px;
$padding: 10px;



//  variables for categories

$cont-width: 1200px;
$font-ten: 10px;
$m-top: 10px;
