#comment{
    .ust-yorum{
        margin: 10px;
        .ust{
            font-size: 28px;
            font-weight: bold;
        }
        .alt{
            font-size: 17px;
            font-weight: lighter;
            display: inline-block;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .col-3{
        margin: 10px;
    }
    .sol-yorum{
        .yes-no{
            .evet{
                display: inline-block;
                cursor: pointer;
                padding: 10px;
                border: 1px solid rgb(180, 180, 180);
                border-radius: 2px;
            }
        }
    }
    .sag-yorum{
        p{
            color: rgb(80, 80, 80);
        }
    }
}
