#main{
    
    margin: 100px 0px 100px 0px;
    .hesabim{
        width: 100%;
        .ust-div{
            display: flex;
            position: relative;
            .hesab-div{
                background-color: #f8f8f8;
                position: absolute;
                width: 100%;
                height: 100px;
                //border: 1px solid blue;
                text-align: center;
                position: relative;
                box-sizing: border-box;
                padding: 40px 0px 0px 80px;
                border-radius: 50px;
                span{
                    font-size: 20px;
                    font-weight: bold;
                    color: rgb(88, 88, 88);
                }
            }
            .circle-div{
                z-index: 1;
                position: absolute;
                background-color: #f58322;
                height: 100px;
                width: 100px;
                //border: 1px solid brown;
                border-radius: 50px;
                i{
                    position: absolute;
                    top: 38px;
                    left: 38px;
                    font-size: 25px;
                    color: rgb(109, 56, 56);
                }
            }
        } 
    }
    .row{
        .item{
            margin: 0px 10px 0px 10px;
            padding: 20px 0px 20px 10px;
            cursor: pointer;
            span{
                color: rgb(63, 63, 63);
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}