#categories{
    padding: 30px 0 30px 0;
    .section-head{
        height: 55px;
        //border: 1px solid blue;
        margin-bottom: 10px;
        text-align: center;
        
        h1{
            font-size: 20px;
            font-weight: bold;
            color: rgb(54, 54, 54);
            display: inline-block;
            padding: 0px 10px 0px 10px;
        }
        i{
            color: #f58322;
        }
        
    }
    .book-items{
        height: 440px;
        @extend .flex-column-center;

        .book-img {
            
            img{
                width: 195px;
            }
        }
        .book-star{
        color: chocolate;
        }
        .book-name {
            margin-top: $m-top;
            a{
                text-decoration: none;
                color:rgb(0, 0, 0)
            }
        }
        .book-press{
            margin-top: $m-top*7;
            font-size: $font-ten;
            a{
                text-decoration: none;
                color:#f58322;
                font-weight: bold;
            }
        }
                
        .book-author {
            font-size: $font-ten;
            margin: 1px;
            a{
                text-decoration: none;
                color:#f58322;
                font-weight: bold;
            }
        }
        .book-discount{
            width: 70%;
            margin-top: 15px;
            @extend .flex-between;
            span{
                color: rgb(75, 75, 75);
            }
            p{
                margin: 0;
                color: red;
                        
            }
        }
        .book-price {
            margin-top: $m-top;
            width: 150px;
            height: 40px;
            background-color: red;
            border-radius: 4px;
            text-align: center;
            @extend .flex-align-center;
            a{
                width: 100%;
                padding: 10px 0 10px 0;
                text-align: center;
                color: white;
                text-decoration: none;
                font-size: $font-ten*2;
                font-weight: bold;
            }
        }
    }
}
